.text-contact{
    margin-top: 150px;
    margin-bottom: 0;
    margin-left: 70%;
    justify-content: space-between;
}
#maps{
	align-items: center;
    height: auto;
    margin-bottom: 60px;
    width: 80%;
}